<h2> Details for <%= @name %></h2>
<p>
  <h4><%= @name %>'s email address: </h4>
  <%= @email %>
</p>
<p>
  <h4><%= @name %>'s interests are: </h4>
  <%= @interests.join(', ') %>
</p>
<p>
  <h2>Other Users</h2>
  <ol>
    <% @users.keys.each do |user_name| %>
      <% next if user_name == @user_name # These are symbols! %>
      <li>
        <a href="/<%= user_name %>"><%= user_name %></a>
      </li>
    <% end %>
  </ol>
</p>
<p>
  <a href="/"><h4>Back to main page</h4></a>
</p>
